<% cache_if(@cache_key.present?, "countries/#{@country.id}/#{@cache_key}", expires_in: cache_duration) do %>
  <%= render @country %>

  <h2><%#= t 'countries.changed_since' %></h2>

  <h2><%= t 'countries.recent' %></h2>

  <div id="accordion">
    <% @statuses.each do |status_group| %>
    <div class="list-group pages-status-<%= status_context_class status_group[1][0] %>">
      <div class="list-group-item list-group-item-<%= status_context_class status_group[1][0] %>">
        <%= link_to(
          t("statuses.#{status_group[0]}"),
          "##{status_context_class(status_group[1][0])}",
          data: {toggle: 'collapse', parent: '#accordion'}
        ) %>
        <span class="badge"><%= status_group[1].size %></span>
      </div>

      <%= content_tag :div, id: status_context_class(status_group[1][0]), class: "panel-collapse collapse" do %>
        <% status_group[1].each do |status| %>
          <%= link_to title_or_url( status.page ), status, class: 'list-group-item' %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
<% end %>
